<h1> Kondal Reddy Eye Care & Opticals | Report</h1>
<!-- <img src="images/optical.jpg"> -->

<form method="POST" action="/d">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input type="text" name ="name" class="form-control" id="name" placeholder="name">
      </div>
      <div class="form-group col-md-6">
        <label for="refby">Reffered By</label>
        <input type="text" class="form-control" id="refby" placeholder="Ref by" name ="refby">
      </div>
      <div class="form-group col-md-2">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" placeholder="Age" name ="age">
      </div>
    </div>
    <p>Left Eye</p>
    <div class="form-row">
        <div class="form-group col-md-2">
          <label for="lsph">SPH</label>
          <input type="text" class="form-control" id="sph" name="lsph">
        </div>
        <div class="form-group col-md-2">
          <label for="lcyl">CYL</label>
          <input type="text" class="form-control" id="lcyl" name="lcyl">
        </div>
        <div class="form-group col-md-2">
          <label for="laxis">AXIS</label>
          <input type="text" class="form-control" id="laxis">
        </div>
        <div class="form-group col-md-2">
          <label for="lvn">Vn</label>
          <input type="text" class="form-control" id="lvn"  name="lvn">
        </div>
      </div>
    
    <p>Right Eye</p>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="rsph">SPH</label>
        <input type="text" class="form-control" id="rsph" name ="rsph">
      </div>
      <div class="form-group col-md-2">
        <label for="rcyl">CYL</label>
        <input type="text" class="form-control" id="rcyl" name="rcyl">
      </div>
      <div class="form-group col-md-2">
        <label for="raxis">AXIS</label>
        <input type="text" class="form-control" id="raxis" name="raxis">
      </div>
      <div class="form-group col-md-2">
        <label for="rvn">Vn</label>
        <input type="text" class="form-control" id="rvn" name="rvn">
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Generate Report</button>
  </form>